.container{
background-color: white;

}
body
{
     /* set background image */
        background-image: url("../images/background.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;


}
/*footer margining*/
.footer {
    background-color: #343a40;
    clear: both;
    width: 100%;
    padding-top: 5px;
    border-top: 1px solid #bbb;
    color: #aaa;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding-bottom: 0;
    text-align: center;
    max-height: 40px;
    margin-top: 40px;

}

#footer-content {
    width: 100%;
}

.img-thumbnail{

    margin-bottom: 25px;
}

.tab { text-indent:40px }



@media (min-width: 1200px) {
    .container{
        max-width: 970px;
        
        
    }
}