nav{
    background: rgba(41, 43, 44, 0.8);
    border-bottom: 1px solid #bbb;
}
hr{
    background-color: #808080;
}
.container{
background: rgba(41, 43, 44, 0.8);
color: #808080;
font-size: 24px;
}


body
{
     /* set background image */
        background-image: url("../images/background.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    /*set text font*/
    font-family: "Raleway", sans-serif;

}

a {
    color: gray;

}

a:hover {
    color:#343a40
}
.icon {
    max-width: 20px;
    max-height: 20px;

}
p{
    color: #808080;
}
/*footer margining*/
footer {
    /*clear: both;*/
    width: 100%;
    padding-top: 5px;
    border-top: 1px solid #bbb;
    color: #aaa;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 0;
    text-align: center;
    max-height: 40px;
    margin-top: 300px;
    background: rgba(41, 43, 44, 0.8);
}

#footer-content {
    width: 100%;
}

.img-thumbnail{

    margin-bottom: 25px;
}

.tab { text-indent:40px }



@media screen and (max-width: 575px) {
    

    /* keep about me pic small for mobile */
    #about-me-image {
        max-width: 300px;
    }
    
}

