
body
{
     /* set background image */
        background-image: url("images/background.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;


}
/*footer margining*/
.footer {
    background-color: #333333;
    clear: both;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #bbb;
    color: #aaa;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding-bottom: 0;
    text-align: center;
    max-height: 50px;

}

#footer-content {
    width: 100%;
}